.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .button {
        background-color: #73937d;
    border-radius: 10px;
    height: 36px;
    color: white;
    font-size: 14px;
    }

}


