<!-- <div *ngIf="loader; else dataContent">
  <p>Loading...</p>
</div> -->

<button (click)="sendMessage()">Send Message to Parent</button>


<!-- static data render  -->
<ul>
  <li *ngFor="let item of items" (click)="selectedItem(item.id)">
    {{ item.name }}
  </li>
</ul>


<ng-template #dataContent>
  <!-- Data state -->

<!-- data from api -->
  <!-- <div *ngIf="comments">
   hii {{propName}}
    <ul>
      <li *ngFor="let comment of comments">
        {{ comment.name }}

      </li>
    </ul>
  </div> -->
</ng-template>
